<footer class="footer">
  <small>
    <%= link_to "Facebook Clone",authenticated_root_path %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>