
 
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= link_to "#{@user.name}" ,@user%> <br>
        <h3>Posts (<%= @user.posts.count %>)</h3>
      </h1>
      <% if @user != current_user %>
      <%= link_to "Add Friend", friend_requests_path(:friend_id => @user), :method => :post %>     
       <% end %>
    </section>
    