<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @friend_request.user %>
</p>

<%= link_to 'Edit', edit_friend_request_path(@friend_request) %> |
<%= link_to 'Back', friend_requests_path %>
